<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>{{ site.data.l10n.subscribe }}</span>
          </a>
          &nbsp;|&nbsp;<a href="{{ site.baseurl }}/sitemap.xml">{{ site.data.l10n.sitemap }}</a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.data.l10n.author_name -%}
            <li class="p-name">{{ site.data.l10n.author_name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.data.l10n.description | escape }}</p>
        <div class="lang-switcher">
          {{ site.data.l10n.switch_lang }} {%- include lang-switcher.html -%}
        </div>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
